<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <div class='appheader'>
        <h3>Flux Capacitor Order Processing System</h3>
    </div>
    <div class='appsidebar'>
      <ul>
        <li><a href='/sales'>Sales</a></li>
        <li><a href='/orders'>Orders</a></li>
        <li><a href='/billing'>Billing</a></li>
        <li><a href='/assembly'>Assembly</a></li>
        <li><a href='/quality'>Quality Control</a></li>
        <li><a href='/shipping'>Shipping</a></li>
        <li><a href='/inventory/cpu'>Inventory: CPU</a></li>
        <li><a href='/inventory/boards'>Inventory: Board</a></li>
      </ul>
    </div>